<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <util:properties id="userProps" location="classpath:userDB.config"/>
    <util:properties id="appProps" location="classpath:appDB.config"/>

    <bean id="userVal" class="validation.UserValidator"/>
    <bean id="bookedTripVal" class="validation.BookedTripValidator"/>
    <bean id="clientVal" class="validation.ClientValidator"/>
    <bean id="destinationVal" class="validation.DestinationValidator"/>
    <bean id="tripVal" class="validation.TripValidator"/>


    <bean id="userRepo" class="repository.UserDatabaseRepository">
        <constructor-arg ref="userVal"/>
        <constructor-arg ref="userProps"/>
    </bean>

    <bean id="bookedTripRepo" class="repository.BookedTripDatabaseRepository">
        <constructor-arg ref="bookedTripVal"/>
        <constructor-arg ref="appProps"/>
    </bean>

    <bean id="clientRepo" class="repository.ClientDatabaseRepository">
        <constructor-arg ref="clientVal"/>
        <constructor-arg ref="appProps"/>
    </bean>

    <bean id="destinationRepo" class="repository.DestinationDatabaseRepository">
        <constructor-arg ref="destinationVal"/>
        <constructor-arg ref="appProps"/>
    </bean>

    <bean id="tripRepo" class="repository.TripDatabaseRepository">
        <constructor-arg ref="tripVal"/>
        <constructor-arg ref="appProps"/>
    </bean>


    <bean id="loginService" class="service.LoginService">
        <constructor-arg ref="userRepo"/>
    </bean>

    <bean id="appService" class="service.AppService">
        <constructor-arg ref="bookedTripRepo"/>
        <constructor-arg ref="clientRepo"/>
        <constructor-arg ref="destinationRepo"/>
        <constructor-arg ref="tripRepo"/>
    </bean>


</beans>