<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">


    <util:properties id="userProps" location="classpath:userDB.properties"/>
    <util:properties id="appProps" location="classpath:appDB.properties"/>

    <bean id="userVal" class="validation.UserValidator"/>
    <bean id="bookedTripVal" class="validation.BookedTripValidator"/>
    <bean id="clientVal" class="validation.ClientValidator"/>
    <bean id="destinationVal" class="validation.DestinationValidator"/>
    <bean id="tripVal" class="validation.TripValidator"/>


    <bean id="userRepo" class="repository.database.DatabaseUserRepository">
        <constructor-arg ref="userVal"/>
        <constructor-arg ref="userProps"/>
    </bean>

    <bean id="bookedTripRepo" class="repository.database.DatabaseBookedTripRepository">
        <constructor-arg ref="bookedTripVal"/>
        <constructor-arg ref="appProps"/>
    </bean>

    <bean id="clientRepo" class="repository.database.DatabaseClientRepository">
        <constructor-arg ref="clientVal"/>
        <constructor-arg ref="appProps"/>
    </bean>

    <bean id="destinationRepo" class="repository.database.DatabaseDestinationRepository">
        <constructor-arg ref="destinationVal"/>
        <constructor-arg ref="appProps"/>
    </bean>

    <bean id="tripRepo" class="repository.database.DatabaseTripRepository">
        <constructor-arg ref="tripVal"/>
        <constructor-arg ref="appProps"/>
    </bean>


    <bean id="appService" class="server.AppServicesImpl">
        <constructor-arg ref="userRepo"/>
        <constructor-arg ref="bookedTripRepo"/>
        <constructor-arg ref="clientRepo"/>
        <constructor-arg ref="destinationRepo"/>
        <constructor-arg ref="tripRepo"/>
    </bean>


    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="App"/>
        <property name="service" ref="appService"/>
        <property name="serviceInterface" value="services.IAppServices"/>
        <property name="registryPort" value="1199"/>
    </bean>
</beans>